@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
    --color: rgb(230, 83, 60);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    list-style: none;
}
body {
    overflow-x: hidden;
    background: rgba(17, 17, 17);
}
section {
    padding: 0 190px;
}
.btn {
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    font-size: 1.125rem;
    font-weight: 600;
    background-color: var(--color);
    color: white;
}
#btn {
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    margin-left: 15px;
}
.title {
    font-weight: 900;
    font-size: 3rem;
    color: white;
    text-align: center;
}
.description {
    font-weight: 400;
    line-height: 24px;
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
    width: 640px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 60px;
    text-align: center;
}

/* header section */
header {
    background: rgba(17, 17, 17);
}
header nav {
    display: flex;
    justify-content: space-between;
    padding: 60px 190px 100px 190px;
}
header nav .fa-solid {
    display: none;
    color: white;
    font-size: 18px;
    align-self: center;
}
header nav h1 {
    color: var(--color);
    font-size: 2.25rem;
    font-weight: 800;
}
header nav ul {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    display: flex;
    gap: 50px;
    align-items: center;
}
header nav ul li a {
    font-size: 1.125rem;
    font-weight: 600;
    color: white;
    padding: 8px 20px 8px 20px;
}
#home {
    background-color: var(--color);
    border-radius: 46px;
}
header nav ul li:hover a {
    background-color: var(--color);
    border-radius: 46px;
}

/* banner section */
header section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header section .content .text {
    width: 520px;
}
header section .content span {
    font-size: 4.875rem;
    font-weight: 400;
    font-family: "Grey Qo", cursive;
}
header section .content h1 {
    font-size: 4.875rem;
    font-weight: 900;
    text-align: left;
    line-height: 120%;
    color: white;
}
header section .content p {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    line-height: 24px;
    margin: 30px 0;
}
header section .img {
    position: relative;
}
header section .img img{
    height: 580px;
}
header section .img .div1 {
    top: 125px;
    right: -74px;
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 16px 24px;
}
header section .img div h4 {
    font-size: 2.5rem;
    font-weight: 900;
    color: white;
}
header section .img div p {
    color: rgba(255, 255, 255, 0.65);
    margin-top: 10px;
}
header section .img .div2 {
    bottom: 65px;
    left: -115px;
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 16px 24px;
    display: flex;
    gap: 10px;
    align-items: center;
}
header section .img div .circle {
    border-radius: 50%;
    width: 42px;
    height: 42px;
    background-color: var(--color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white
}
header section .img div .circle i {
    display: none
}

/* main section */
/* challenge section */
.challenge {
    margin-top: 100px;
    color: white;
}
.challenge .section-text {
    color: var(--color);
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: 8px;
    font-size: 1.5rem;
}
.challenge .container {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
    margin-top: 50px;
}
.challenge .container .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s linear;
}
.challenge .container .card:hover {
    transform: scale(1.05);
    border: 1px solid var(--color);
}
.challenge .container .card .img {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.challenge .container .card .img img {
    width: 450px;
    filter: grayscale(50%);
}
.challenge .container .card .img .circle {
    background-color: var(--color);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -75px;
    z-index: 100;
}
.challenge .container .card .img .circle h1 {
    font-size: 2.5rem;
}
.challenge .container .card .img .circle p {
    color: white;
    font-size: 0.875rem;
}
.challenge .container .card .content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.challenge .container .card .content .text p{
    margin-bottom: 20px;
}
.challenge .container .card .content .text p i {
    color: var(--color);
    margin-right: 15px;
    font-weight: bold;
}

/* habits section */
.habit .container {
    margin-top: 100px;
}
.habit .content {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.habit .content div {
    width: 231px;
}
.habit .content div img {
    border-radius: 50%;
}
.habit .content div h4 {
    font-weight: 600;
    font-size: 1.125rem;
    color: white;
    margin-top: 30px;
    margin-bottom: 10px;
}
.habit .content div p {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    line-height: 18px;
    font-size: 0.875rem;
}

/* run section */
.run .container {
    margin-top: 100px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    padding-left: 60px;
    gap: 70px;
}
.run .container .img-container {
    border-radius: 18px;
    width: 366px;
    height: 312px;
    position: relative;
    overflow: hidden;
}
.run .container .img-container img {
    position: absolute;
    top: -91px;
    width: 543px;
    height: 524px;
    left: -128px
}
.run .container .content h1, .run .container .content p{
    text-align: left;
    width: 443px;
}
.run .container .content {
    margin-top: 10px;
}
.run .container .content button {
    padding: 16px 60px 16px 60px;    
}

/* training section */
.training .container {
    margin-top: 100px;
}
.training .container h1, .training .container p {
    text-align: left;
    margin-left: 0;
}
.img1 {
    grid-area: img1;
}
.img2 {
    grid-area: img2;
}
.img3 {
    grid-area: img3
}
.img4 {
    grid-area: img4;
}
.img5 {
    grid-area: img5;
}
.img6 {
    grid-area: img6;
}
.training .container .content .img {
    position: relative;
}
.training .container .content .img img {
    width: 100%;
    height: 218px;
    object-fit: cover;
}
.training .container .content .img div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(6, 255, 210, 0.5);
    display: flex;
    align-items: flex-end;
    padding: 40px;
}
.training .container .content .img2 div {
    background-color: rgba(255, 0, 0, 0.3);
    color: white;
    align-items: flex-start;
}
.training .container .content .img3 div, .training .container .content .img4 div {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    justify-content: flex-end;
}
.training .container .content .img5 div {
    background-color: rgba(66, 255, 0, 0.3);
    color: white;
    align-items: flex-start;
    justify-content: flex-end;
}
.training .container .content .img6 div {
    background-color: rgba(0, 71, 255, 0.3);
    color: white;
}
.training .container .content .img1 div p {
    font-weight: 500;
    font-size: 0.875rem;
}
.training .container .content {
    display: grid;
    grid-template-areas: 
    "img1 img2 img2 img2 img3 img3"
    "img4 img4 img5 img6 img6 img6";
}
.training .container .text {
    margin: 90px 0;
    display: flex;
    justify-content: center;
}

/* bmi section */
.bmi {
    background-color: rgb(34, 34, 34);
    color: white;
}
.bmi .container {
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 52px 0;
}
.bmi-title {
    font-weight: 900;
    font-size: 1.75rem;
}
.bmi .container .cart table {
    margin-top: 50px;
    text-align: left;
    border-collapse: collapse;
}
.bmi .container .cart table tr th, .bmi .container .cart table tr td {
    padding: 15px 30px;
    border: 1px solid rgba(255, 255, 255, 0.15);
}
.bmi .container .cart table tr td {
    color: rgba(255, 255, 255, 0.5);
}
.bmi .container .calculate p {
    text-align: left;
    margin: 0;
    margin-bottom: 34px;
    margin-top: 15px;
}
.bmi .container .calculate form label {
    display: flex;
    gap: 12px;
    justify-content: space-between;
    margin-top: 12px;
}
.bmi .container .calculate form #activity{
    margin-top: 12px;
}
.bmi .container .calculate form label input, .bmi .container .calculate form label select, .bmi .container .calculate form select {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    padding: 12px 40px 12px 20px;
    color: rgba(255, 255, 255, 0.6);
    width: 100%;
    outline: none;
}
.bmi .container .calculate .btn {
    padding: 16px 60px 16px 60px;
    margin-top: 50px;
}
.bmi .container .calculate form label select option, .bmi .container .calculate form #activity option {
    background-color: darkslategray;
}

/* team section */
.team .container  {
    margin: 88px 0;
}
.team .container .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
}
.team .container .content .img-container {
    position: relative;
    width: 480.67px;
    height: 370px;
    overflow: hidden;
}
 .team .container .content .img-container .text {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 18px;
 }
.team .container .content .img-container img {
    width: 480.67px;
    height: 370px;
    border-radius: 18px;
}
.team .container .content .img-container .text p {
    text-align: left;
    margin-top: 3px;
}

/* footer section */
footer {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0 190px 35px 190px;
}
footer .footer-section  .container{
    padding: 70px 0;
    color: white;
    display: flex;
    justify-content: space-between;
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
}
footer .footer-section .container .div1 h1 {
    font-weight: 800;
    font-size: 4.375rem;
    color: var(--color);
}
footer .footer-section .container .div1 p {
    text-align: left;
    margin: 0;
    margin-top: 20px;
    width: 443px;
}
footer .footer-section .container .div2 {
    width: 181px;
}
footer .footer-section .container .div2 h1 {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 40px;
}
footer .footer-section .container .div2 p {
    margin: 0;
    text-align: left;
    margin-bottom: 20px;
    font-size: 1.4375rem;
}
footer .footer-section hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
footer .footer-section .rights {
    margin: 0;
    text-align: center;
    width: 100%;
    margin-top: 40px;
    font-size: 20px;
}








@media (max-width: 768px) {
    header nav {
        padding: 60px 30px 100px 30px;
    }
    header nav ul {
        gap: 20px;
    }
    section, footer {
        padding: 0 30px;
    }
    header section {
        display: block;
    }
    .challenge .container{
        flex-direction: column;
        gap: 40px;
    }
    .habit .content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 40px;
    }
    .habit .content div {
        margin: 0 auto;
    }
    .run .container .content h1, .run .container .content p {
        width: 263px;
    }
    .run .container .img-container {
        height: 404px;
    }
    .training .container .text {
        display: block;
    }
    .bmi .container {
        display: block;
    }
    .bmi .container .calculate {
        margin-top: 60px;
    }
    .team .container .content .img-container {
        width: 100%;
        height: 300px;
    }
    .team .container .content .img-container img {
        width: 100%;
        height: 300px;
    }
    footer .footer-section  .container {
        flex-wrap: wrap;
    }
    footer .footer-section .container .div2 {
        margin-top: 100px;
        width: 266px;
    }
}

@media (max-width: 480px) {
    header section {
        display: block;
    }
    header nav ul {
        display: none;
    }
    header nav .fa-solid {
        display: inline;
    }
    header section .content h1 {
        font-size: 36px;
    }
    header section .content .text {
        width: 350px;
    }
    .btn {
        padding: 16px 20px;
    }
     header section .img .div1 {
        top: 50px;
        right: -42px;
     }
     header section .img .div2 {
        left: -35px;
        bottom: 150px;
     }
     header section .img div .circle i {
        display: block;
     }
     .habit .container p {
        width: 100%;
     }
     .habit .content {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 20px;
     }
     .run .container {
        display: block;
        padding: 30px;
     }
     .run .container .content h1, .run .container .content p {
        width: 100%;
     }
     .run .container .img-container {
        margin-top: 20px;
     }
     .run .container .content button {
        width: 100%;
     }
     .run .container .img-container img {
        width: 100%;
        height: auto;
        position: static;
     }
     .training .container .content {
        grid-template-areas: 
        "img1 img1 img2 img2 img2"
        "img3 img3 img3 img5 img5"
        "img6 img6 img4 img4 img4";
     }
     .team .container .content {
        grid-template-columns: repeat(1, 1fr);
     }
     footer .footer-section  .container {
        display: block;
     }
}